In [14]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
music_data=pd.read_csv('music.csv')
X=music_data.drop(columns=['genre'])
y=music_data['genre']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

model= DecisionTreeClassifier()
model.fit(X_train,y_train)
X

    age  gender
0    11       1
1    18       1
2    29       1
3    38       1
4    48       1
5    62       1
6    12       1
7    24       1
8    31       1
9    41       1
10   49       1
11   68       1
12   15       1
13   23       1
14   33       1
15   43       1
16   53       1
17   72       1
18   34       1
19   45       1
20   57       1
21   78       1
22   13       0
23   25       0
24   19       0
25   17       0
26   12       0
27   22       0
28   40       0
29   30       0
30   27       0
31   29       0
32   32       0
33   36       0
34   43       0
35   41       0
36   52       0
37   46       0
38   54       0
39   59       0
40   74       0
41   65       0
42   77       0
43   62       0
44   69       0

In [13]:
import pickle
file = open('decision_tree_model.pkl', 'wb')
pickle.dump(model, file)